.listItem{
    color:rgb(31, 31, 31);
    min-height: 25px;
    background-color: rgba(2, 0, 145, 0.486);
    position: relative;
    font-size: 30px;
    padding: 8px;
    border-top: 1px solid rgb(43, 43, 77);
    border-bottom: 1px solid rgb(43, 43, 77);
}

.listItem input[type=checkbox]{
    transform: scale(2.2);
    position: absolute;
    right: 54px;
    top: 15px;
}

.listItem:hover{
    /* background-color: rgb(152, 183, 248) */
    top: -3px;
    box-shadow: rgba(63, 63, 63, 0.63) 10px 10px 30px;
}

.removeItem{
    color: rgb(3, 3, 128);
    position: absolute;
    right:20px;
    top:8px;
    z-index: 10;
}
.hidden{
    display: none;
}
.complete{
    background-color: rgb(121, 145, 196)
}