
body{
    background-color: #e6e3e3;
    cursor: pointer; 
    /* text-align: center; */
}

h1{
    text-align: center;
    padding: 30px;
}

#retrieveButton{
    margin:20px;
    background-color: rgb(109, 2, 2);
    color: white;
}

#todoContainer{
    background-color: rgb(142, 197, 252);
    max-width: 50vw;
    margin: 50px auto 0px;
    padding: 40px;
    border-radius: 15px;
    border: 1px rgba(8, 0, 53, 0.445) solid;
    box-shadow: rgba(4, 0, 41, 0.562) 0px 70px 180px 20px;
}
#linksContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 20px;
    
}

.links:hover{
    color:red;
}